<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	<title>Burger</title>
</head>
<body>
	<div  style="text-align:  center;">
	<img src="/assets/burger.png" width="100px" id="burger">
	</div>
	{{{ body }}}
	<footer class="Footer">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 MoudGW</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/MoudGW">Github Channel</a>
			</div>
		</div>
	</footer>
</body>
</html>