<h1>Eat-Da-Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col s6">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div style="display: flex;">
               <div class='Available' style="background-color: white;border: solid 1px blue;">{{this.burger_name}}</div>
                <input type="text" id="id" name="eater" placeholder="">
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='Available'>devoured it</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="col s6">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='devoured'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<h2>ADD A NEW BURGER</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="New Burger">
      <button type="submit" class="add">Add</button>
    </form>
  </div>
</div>